body {
  background-image: url(../img/footer_lodyas.png);
  color: #ecf0f1;
  font-family: 'Titillium Web' sans-serif;
  line-height: 1.5;
  margin: 0;
}

header {
  background-image: url(../img/cvpic.jpg);
  background-position: center center;
  background-size: cover;
  color: #484848;
  padding-bottom: 250px;
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 100px;
}

h1 {
  font-family: 'Merriweather', serif;
}

.container {
  margin: 0 auto;
  max-width: 50em;
}

ul > li {
  list-style-type: square;
}

a {
  color: #ecf0f1;
}

a:hover {
  color: #999;
}

.catgif, .hole {
  border-radius: 5px;
  margin-left: 15px;
  width: 250px;
}

blockquote {
  background-image: url(../img/triangular.png);
  background-position: center center;
  border-radius: 5px;
  color: #484848;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
}

.author {
  font-size: 15px;
}

.exp {
  line-height: 1;
}

.fitness {
  border-radius: 5px;
  margin-left: 15px;
  width: 200px;
}

.mainsections {
  padding-top: 30px;
  padding-bottom: 30px;
}

.thankyounote {
  font-family: 'Titillium Web' sans-serif;
  image-orientation: center;
  padding-bottom: 70px;
  text-align: center;
}
