
body {
  background: #f6f6f6;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  margin: 0 auto;
  min-height: 100vh;
}

h1, h2 {
  font-family: serif;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}

h1 {
  font-size: 28.8px;
}

.main-container {
  width: 100%;
  order: 1;
}

.main-header {
  height: 80px;
  width: inherit;
  position: relative;
}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header nav, .search {
  position: absolute;
}

.user-menu {
  right: 0;
  top: 0;

}

.talk-menu {
  left: 0;
  bottom: 0;
}

.search {
  right: 0;
  bottom: 0;
}

.search input {
  width: 270px;
}

button {
  width: 20px;
  height: 20px;
}

.edit-menu {
  right: 270px;
  bottom: 0;
}

.main-header li {
  list-style: none;
  margin: 0 5px 0 5px;
}

.main-content {
  background: #ffffff;
  border: 1px solid #a7d7f9;
  border-right: 0;
  padding: 16px;
}

a {
  color: rgb(6, 69, 173);
  text-decoration: none;
}

.biography {
  background: #f9f9f9;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  float: right;
  margin: 6px 0 12px 12px;
  padding: 25px;
  width: 270px;
}

.blue-listing {
  list-style-image: url(../img/dot.svg);
}

.blue-listing li {
  margin: 5px 0;
}

.main-footer {
  background: #f6f6f6;
  height: 150px;
  width: inherit;
}

.logo {
  display: block;
  width: 136px;
  height: 150px;
  background: url(../img/logo.png);
  margin: 6px auto 0;
  color: transparent;

}

.main-sidebar {
  background: #f6f6f6;
  width: 176px;
  order: 0;
  flex: 0 0 auto;
}
